<body>
  
<div class="wrapper">
    <form action="">
        <h1>Sign In</h1>
        <br>
        <div class="input-box">
            <input type="text" placeholder="Username" required>         
        </div>
        <br>
        <div class="input-box">
            <input type="password" placeholder="Password" required>         
        </div>
        <br>
        <br>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember Me</label>
            <a href="https://www.alz.org/help-support/resources/helpline">Forgot Password?</a>
        </div>
        <br>
        <p class="social-text">-------- or --------</p>
        <br>
        <br>
        <div class="social-media">
          <a href="https://www.facebook.com" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=AYZoVher7FZv2hgChMyNbIy8P2LJl74qqw3ZTPNckMexdUlr8xj911bYpC-IvuhnvKmjicxK0oUH-Q&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-2130686093%3A1696943293738184&theme=glif" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="https://github.com" class="social-icon">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <br>
        <br>
        <br>
        <br><br><br>
        <br>
        <input type="submit" value="login" class="button1" formaction="http://localhost:4200/dashboards">
        <div class="register-link">
            <p>New to Hell? <a href="http://localhost:4200/register">Register</a></p>
        </div>
    </form>
</div>
<div class="sidenav-container">
  <div class="logo-container">
      <span class="logo"><a href="/"><img src="assets/logo.png"></a></span>
  </div>

  <ul>
      <li><img src="assets/settings.png"><p><a href="https://www.youtube.com/watch?v=Ddpx0JLOH6o">Settings</a></p></li>
      <li><img src="assets/logout2.png"><p><a href="http://localhost:4200/login">Log In</a></p></li>
  </ul>
</div>

</body>

