*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 420px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    overflow: hidden;   
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    //border-bottom: 1px solid rgba(255,255,255,0.5);
    //border-right: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    border-radius: 10px;
}

.wrapper ,input-box{
    width: 40%;
    height: 650px;
    background: transparent;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:#fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #1b1b1b;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.button1{
    margin-left: 34%;
    border-radius: 2em;
    border: 1px solid #fff;
    background: #ae3540;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 1em 5em;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    background-color: transparent;
}

.button1:hover {
    color: #ae3540;
    border-color: #ae3540;
  }
a{
    color: #fff;

}
.connect{
    margin-left: 40%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social-text {
    padding-left: 10rem;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #ae3540;
    border-color: #ae3540;
  }
  .sidenav-container{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    transition: width 0.5s;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    overflow: hidden;   
}
.sidenav-container:hover{
    width: 250px;
}
.sidenav-container:hover ul li p{
    display: block;
    color: #fff;
}
.sidenav-container:hover ul li p a{
    color: #fff;
}
.sidenav-container:hover ul li p a b{
    color: #ffffff;
    text-decoration:line-through #ae3540 3px;
}
.sidenav-container:hover ul li img{
    margin-right: 10px;
    transition:2s;
}
ul{
    list-style: none;
    padding: 0 15px;
}

ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li img{
    width: 30px;
    margin-right:10px;
    
}
ul li p{
    white-space: nowrap;
    display: none;

    font-weight: 1000;
}

