<div class="menu" id="Menu">
    <br><br>
    <div class="menu_box">
        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/merch9.PNG">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Justice Plushie</h2>
         
                <h3>$20.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 
        
        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/merch1.PNG">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Beelz Plushie</h2>
                <h3>$20.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 

        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/Merch2.jpg">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Sketch #1</h2>
                <h3>$10.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 

        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/Merch3.jpg">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Sketch #2</h2>
                <h3>$10.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 

        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/merch8.PNG">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Smol Stickers</h2>
                <h3>$5.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 

        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/Merch4.jpg">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Love Stickers</h2>
                <h3>$5.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 

        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/wine.PNG">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Maiden's Blood</h2>
                <h3>$30.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 

        <div class="menu_card">

            <div class="menu_image">
                <img src="assets/merch10.PNG">
            </div>

            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Funny Rope</h2>
                <p>
                    
                </p>
                <h3>$1.00</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>

        </div> 
    </div>

</div>

<div class="sidenav-container">
    <div class="logo-container">
        <span class="logo"><a href="http://localhost:4200/dashboards"><img src="assets/logo.png"></a></span>
    </div>
    <ul class="sidenav-nav-menu">
        <li><img src="assets/dash.png"><p><a href="http://localhost:4200/dashboards">Dashboard</a></p></li>
        <li><img src="assets/merch.png"><p><a href="http://localhost:4200/merch">Merchandise</a></p></li>
        <li><img src="assets/user.png"><p><a href="http://localhost:4200/user">User Management</a></p></li>
       
    </ul>
    <ul>
        <li><img src="assets/settings.png"><p><a href="https://www.youtube.com/watch?v=Ddpx0JLOH6o">Settings</a></p></li>
        <li><img src="assets/logout2-2.png"><p><a href="http://localhost:4200/login"><i>Log Out</i></a></p></li>
    </ul>
</div> 