
<div class="containerA">
    
    <div class="row1">
        <div class="col1">
            <div class="cardx-card5">    
            </div>
            <div class="cardx-card6">
                
            </div>
            <div class="cardx-card7">
                
            </div>
            <div class="cardx-card8">
                
            </div>
        </div>
        <div class="col2">
            <img src="assets/popular.png" class="inst3">

            <input type="submit" value="Browse" class="button1" formaction="https://nhentai.net/">
        </div>
        <div class="col3">
            <div class="cardx-card1">    
            </div>
            <div class="cardx-card2">
                
            </div>
            <div class="cardx-card3">
                
            </div>
            <div class="cardx-card4">
                
            </div>
        </div>
</div>
<br><br>
<br><br>
<br><br>
<div class="page2">
    <div class="gallary" id="Gallary">
        <img src="assets/deals.png" class="inst4">
        <img src="assets/sale.png" class="inst5">
        <img src="assets/sale.png" class="inst6">
        <img src="assets/sale.png" class="inst7">
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="assets/none.jpg">

                <h3>Depression</h3>
                <p>
                   Imagine this was food
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="assets/none.jpg">

                <h3>Anxiety</h3>
                <p>
                    Imagine this was food
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="assets/none.jpg">

                <h3>Insanity</h3>
                <p>
                    Imagine this was food
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>
            

        </div>

    </div>
</div>
<div class="sidenav-container">
    <div class="logo-container">
        <span class="logo"><a href="http://localhost:4200/dashboards"><img src="assets/logo.png"></a></span>
    </div>
    <ul class="sidenav-nav-menu">
        <li><img src="assets/dash.png"><p><a href="http://localhost:4200/dashboards">Dashboard</a></p></li>
        <li><img src="assets/merch.png"><p><a href="http://localhost:4200/merch">Merchandise</a></p></li>
        <li><img src="assets/user.png"><p><a href="http://localhost:4200/user">User Management</a></p></li>
       
    </ul>
    <ul>
        <li><img src="assets/settings.png"><p><a href="https://www.youtube.com/watch?v=Ddpx0JLOH6o">Settings</a></p></li>
        <li><img src="assets/logout2-2.png"><p><a href="http://localhost:4200/login"><i>Log Out</i></a></p></li>
    </ul>
</div> 
