<div class="sidenav-container">
    <div class="logo-container">
        <span class="logo"><a href="http://localhost:4200/dashboards"><img src="assets/logo.png"></a></span>
    </div>
    <ul class="sidenav-nav-menu">
        <li><img src="assets/dash.png"><p><a href="http://localhost:4200/dashboards">Dashboard</a></p></li>
        <li><img src="assets/merch.png"><p><a href="http://localhost:4200/merch">Merchandise</a></p></li>
        <li><img src="assets/user.png"><p><a href="http://localhost:4200/user">User Management</a></p></li>
       
    </ul>
    <ul>
        <li><img src="assets/settings.png"><p><a href="https://www.youtube.com/watch?v=Ddpx0JLOH6o">Settings</a></p></li>
        <li><img src="assets/logout2-2.png"><p><a href="http://localhost:4200/login"><i>Log Out</i></a></p></li>
    </ul>
</div> 
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<div class = "card">
    <div class="lines"></div>
    <div class="imgBx">
        <img src="assets/just.gif">
    </div>
    <div class="info">
        <div class="details">
            <h2>Justice</h2>
            <span>Ex-Officer</span>
            <br>
            <br>
            <br>
            <div class="data">
                <h3>69<br><span>Posts</span></h3>
                <h3>666<br><span>Fans</span></h3>
            </div>
        </div>
    </div>
    </div>
    
    <div class="edit-form">
        <form action="#" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="Lucifer Morningstar" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="XXXX@Email.com" required>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" value="XXXX-XXX-XXXX" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="************" required>
            <label for="address">Address:</label>
            <textarea id="address" name="address" required>XXX Main Street, City, Country</textarea>
            <input type="submit" value="Save Changes" class="button1" formaction="http://localhost:4200/dashboards">
        </form>
    </div>

